section#forum {
  width: 76%;
  margin: 0 auto;
}

section#forum h1 {
  font-weight: 900;
  margin: 32px auto 32px;
}

section#forum #mainForm,
article.postagensEmpty,
article.postagensEmpty > div,
section#forum div#postagensWrapper .postagemWrapper,
section#forum div#postagensWrapper .postagemWrapper .postagem .postForm,
section#forum
  div#postagensWrapper
  .postagemWrapper
  .postagem
  .postForm
  .grupoDeBotoes,
section#forum
  div#postagensWrapper
  .postagemWrapper
  .postagem
  .postagemFooter
  .divIcones,
section#forum
  div#postagensWrapper
  .postagemWrapper
  .postagem
  .postagemFooter
  .commentForm,
section#forum
  div#postagensWrapper
  .postagem
  .postagemFooter
  .commentForm
  .grupoDeBotoes {
  display: flex;
}

/* section#forum {
  background-color: blue;
  padding: 50px;
} */

section#forum #mainForm {
  padding: 24px;
  background-color: #ffffff;
  border-radius: 4.8px;
  border: solid 1px #c3c3c3;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.234);
  gap: 10px;
}

section#forum #mainForm #mainTextArea,
section#forum
  div#postagensWrapper
  .postagemWrapper
  .postagem
  .postForm
  .textArea,
section#forum
  div#postagensWrapper
  .postagemWrapper
  .postagem
  .postagemFooter
  .comentarioTextArea {
  width: 100%;
  border: none;
  resize: none;
}

section#forum #mainForm #mainTextArea:focus,
section#forum
  div#postagensWrapper
  .postagemWrapper
  .postagem
  .postForm
  .textArea:focus,
section#forum
  div#postagensWrapper
  .postagemWrapper
  .postagem
  .postagemFooter
  .comentarioTextArea {
  outline: none;
}

section#forum #mainForm #mainTextArea {
  font-size: 16px;
}

section#forum #mainForm #mainTextArea,
section#forum
  div#postagensWrapper
  .postagemWrapper
  .postagem
  .postagemFooter
  .comentarioTextArea {
  overflow: hidden;
  text-align: justify;
}

section#forum #mainForm button[type="submit"]#btnPublicar {
  margin: 0;
  height: 42px;
  width: 44px;
  border-radius: 6px;
  border: solid 2px #c3c3c3;
  align-self: end;
  cursor: not-allowed;
}

section#forum #mainForm button[type="submit"]#btnPublicar i {
  color: #ffffff;
  font-size: 16px;
  cursor: not-allowed;
}

article.postagensEmpty {
  margin: 32px auto 32px;
  padding: 24px;
  flex-direction: row;
  align-items: center;
}

article.postagensEmpty > div {
  flex-flow: column;
  gap: 12px;
}

section#forum div#postagensWrapper .postagemWrapper {
  flex-flow: column;
}

section#forum div#postagensWrapper .postagemWrapper .postagem,
section#forum div#postagensWrapper .postagemWrapper .comentarioPostagem {
  width: 100%;
  padding: 12px;
  margin: 32px auto 16px;
  border-radius: 4.8px;
  border: solid 1px #c3c3c3;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.234);
  background-color: #ffffff;
}

section#forum div#postagensWrapper .postagemWrapper .comentarioPostagem {
  width: 95%;
  margin: 8px 0;
  align-self: end;
}

section#forum div#postagensWrapper .postagemWrapper .postagem .postagemHeader {
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 0;
}

i {
  font-size: 14px;
  cursor: pointer;
}

i:hover {
  opacity: 0.6;
}

section#forum
  div#postagensWrapper
  .postagemWrapper
  .postagem
  .postagemHeader
  div {
  gap: 8px;
  align-self: start;
}

section#forum
  div#postagensWrapper
  .postagemWrapper
  .postagem
  .postagemHeader
  div
  > div
  > p
  > span:first-child {
  color: #a45a03;
  font-weight: 900;
}

section#forum
  div#postagensWrapper
  .postagemWrapper
  .postagem
  .postagemHeader
  div
  > div
  > p
  > span {
  font-size: 14px;
  color: #033649;
}

section#forum
  div#postagensWrapper
  .postagemWrapper
  .postagem
  .postagemHeader
  img {
  width: 56px;
  height: 56px;
  border: solid 2px #c3c3c3;
  border-radius: 50%;
  max-width: 100%;
}

section#forum div#postagensWrapper .postagemWrapper .postagem .postForm {
  padding: 20px;
  flex-flow: column;
  align-items: flex-end;
}

section#forum
  div#postagensWrapper
  .postagemWrapper
  .postagem
  .postForm
  .grupoDeBotoes {
  gap: 4px;
}

section#forum
  div#postagensWrapper
  .postagemWrapper
  .postagem
  .postForm
  .textArea,
section#forum
  div#postagensWrapper
  .postagemWrapper
  .postagem
  .postagemFooter
  .comentarioTextArea {
  padding: 6px;
  font-size: 14px;
  border-radius: 4.8px;
  text-align: justify;
}

section#forum
  div#postagensWrapper
  .postagemWrapper
  .postagem
  .postForm
  .textArea::-webkit-scrollbar {
  width: 10px;
}

section#forum
  div#postagensWrapper
  .postagemWrapper
  .postagem
  .postForm
  .textArea::-webkit-scrollbar-track {
  background: #e8e8e8;
}

section#forum
  div#postagensWrapper
  .postagemWrapper
  .postagem
  .postForm
  .textArea::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 20px;
  border: 2px solid #e8e8e8;
}

section#forum
  div#postagensWrapper
  .postagemWrapper
  .postagem
  .postForm
  .textArea:disabled {
  background-color: #ffffff;
}

section#forum div#postagensWrapper .postagemWrapper .postagem .postagemFooter {
  flex-flow: column;
  gap: 16px;
  border-top: 1px solid #c3c3c3;
  background-color: #ffffff;
  border-bottom-left-radius: 4.8px;
  border-bottom-right-radius: 4.8px;
  font-size: 16px;
}

section#forum
  div#postagensWrapper
  .postagemWrapper
  .postagem
  .postagemFooter
  .divIcones {
  align-self: start;
  gap: 8px;
}

section#forum
  div#postagensWrapper
  .postagemWrapper
  .postagem
  .postagemFooter
  .commentForm {
  width: 100%;
  display: none;
  flex-flow: column;
}

section#forum
  div#postagensWrapper
  .postagemWrapper
  .postagem
  .postagemFooter
  .commentForm
  .grupoDeBotoes {
  align-self: end;
  gap: 4px;
}

section#forum
  div#postagensWrapper
  .postagemWrapper
  .postagem
  .postagemFooter
  .comentarioTextArea {
  width: 100%;
  border: 1px solid #c3c3c3;
}
