section#forum {
  width: 76%;
  margin: 0 auto;
}

section#forum h1 {
  font-weight: 900;
  margin: 32px auto 32px;
}

section#forum #mainForm {
  padding: 32px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 4.8px;
  border: solid 1px #c3c3c3;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.234);
}

section#forum #mainForm #mainTextArea {
  width: 100%;
  height: 90px;
  border: none;
  resize: none;
  font-size: 16px;
}

section#forum #mainForm #mainTextArea:focus {
  outline: none;
}

section#forum #mainForm #btnPublicar {
  height: 40px;
  width: 80px;
}

section#forum .alerta-embutido {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 24px;
  text-align: center;
  border: solid 1px #ffbfbf;
  background-color: #ffd0cc;
  color: #7e2d24;
}

section#forum div#postagensWrapper .postagem {
  margin: 32px auto 32px;
  border-radius: 4.8px;
  border: solid 1px #c3c3c3;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.234);
  background-color: #ffffff;
}

section#forum div#postagensWrapper .postagem .postagemHeader {
  align-items: center;
  padding: 20px;
  border-bottom: solid 1px #c3c3c3;
  box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.234);
}

section#forum div#postagensWrapper .postagem .postagemHeader div {
  display: flex;
  gap: 12px;
}

section#forum div#postagensWrapper .postagem .postagemHeader div > div {
  display: flex;
  flex-flow: column;
  gap: 0;
  justify-content: center;
}

section#forum
  div#postagensWrapper
  .postagem
  .postagemHeader
  div
  > div
  > p
  > span:first-child {
  color: #a45a03;
  font-weight: 900;
}

section#forum
  div#postagensWrapper
  .postagem
  .postagemHeader
  div
  > div
  > p
  > span {
  color: #033649;
}

section#forum div#postagensWrapper .postagem .postagemHeader img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

section#forum div#postagensWrapper .postagem .postForm {
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

section#forum div#postagensWrapper .postagem .postForm {
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

section#forum div#postagensWrapper .postagem .postForm .grupoDeBotoes {
  display: flex;
  gap: 5px;
}

section#forum div#postagensWrapper .postagem .postForm .textArea {
  width: 100%;
  height: 100%;
  padding: 20px;
  border: none;
  resize: none;
  border-radius: 4.8px;
}

section#forum div#postagensWrapper .postagem .postForm .textArea:focus {
  outline: none;
}

section#forum div#postagensWrapper .postagem .postForm .textArea:disabled {
  background-color: #ffffff;
}

section#forum div#postagensWrapper .postagem .postagemFooter {
  padding: 8px;
  background-color: #e8e8e8;
  border-bottom-left-radius: 4.8px;
  border-bottom-right-radius: 4.8px;
  display: flex;
  gap: 10px;
}

i {
  cursor: pointer;
}

i:hover {
  opacity: 0.6;
}
