@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #242424;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  transition: opacity 0.2s;
}

button:hover {
  opacity: 0.8;
}

form input,
form button {
  border: none;
  outline: none;
}

form label + label {
  margin-top: 16px;
}

form label span {
  display: block;
  font-size: 12px;
  font-weight: 700;
}

form label input {
  width: 100%;
  height: 30px;
  margin-top: 4px;
  padding-inline: 8px;
  border-radius: 4px;
  border: 1px solid #9b9b9b;
}

form button {
  width: auto;
  height: 32px;
  margin-top: 16px;
  margin-left: auto;
  padding-inline: 8px;
  background-color: #031634;
  border-radius: 4px;
  color: #fff;
}

body {
  background-color: #f2f4f3;
}

header {
  width: 100%;
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

header .content,
footer .content {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

header nav,
footer nav {
  margin-inline: 100px;
  flex: 1;
}

header nav ul,
footer nav ul {
  display: flex;
  gap: 24px;
}

header nav ul li,
footer nav ul li {
  font-size: 16px;
  transition: opacity 0.2s;
}

header nav ul li:hover,
footer nav ul li:hover {
  opacity: 0.8;
}

header .userArea img {
  border-radius: 50%;
}

footer {
  padding: 55px 0;
  background-color: #D6DDE5;
}

footer div:nth-child(1) nav {
  margin: 16px 0 0;
}

footer div:nth-child(2) {
  text-align: center;
}

footer button {
  display: block;
  margin-top: 8px;
  padding: 0 8px;
  background-color: transparent;
  border: 1px solid #031634;
  border-radius: 4px;
  font-size: 18px;
}

table {
  width: 100%; /*Define a largura da tabela para 100% da largura do contêiner pai.*/
  border-collapse: collapse; /*Remove o espaço entre as bordas das células da tabela, colapsando-as.*/
}

th, td {
  border: 1px solid #dddddd; /*Adiciona uma borda cinza clara de 1 pixel em torno das células.*/
  text-align: left; /*Alinha o texto à esquerda nas células.*/
  padding: 8px; /*Adiciona um preenchimento interno de 8 pixels nas células.*/
}

th {
  background-color: #f2f2f2; /*Define a cor de fundo das células do cabeçalho para um cinza claro.*/
}

/* Define estilos para linhas pares (nth-child(even)) da tabela.*/
tr:nth-child(even) { 
  background-color: #f9f9f9; /*Define a cor de fundo das linhas pares para um cinza muito claro.*/
}

/*Define estilos para as linhas quando o mouse passa sobre elas.*/
tr:hover {
  background-color: #e0e0e0; /*Define uma cor de fundo mais escura ao passar o mouse sobre a linha.*/
}