@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  color: #242424;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #e8e8e8;
}

body::-webkit-scrollbar-thumb {
  background-color: #7b2d26;
  border-radius: 20px;
  border: 2px solid #e8e8e8;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  transition: opacity 0.2s;
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  opacity: 0.2;
}

button,
form input,
form button {
  border: none;
  outline: none;
}

form label + label {
  margin-top: 16px;
}

form label span {
  display: block;
  font-size: 12px;
  font-weight: 700;
}

form label input {
  width: 100%;
  height: 30px;
  margin-top: 4px;
  padding-inline: 8px;
  border-radius: 4px;
  border: 1px solid #9b9b9b;
}

button,
form button {
  width: auto;
  height: 32px;
  margin-top: 16px;
  margin-left: auto;
  padding-inline: 8px;
  background-color: #031634;
  border-radius: 4px;
  color: #ffffff;
}
button a i.fa-solid {
  color: #ffffff;
}

body {
  background-color: #f2f4f3;
}

header,
header > div,
header div nav ul.menu,
main section.banner,
footer {
  display: flex;
}

header {
  padding: 12px;
  gap: 24px;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.234);
}

header img#logo {
  width: 160px;
}

header > div {
  align-items: center;
  gap: 44px;
}

header div nav ul.menu {
  gap: 24px;
}

header div nav ul.menu li {
  font-size: 16px;
  transition: opacity 0.2s;
}

header div nav ul.menu li:hover,
header div span nav ul.dropdown li a:hover {
  opacity: 0.8;
  text-decoration: underline;
  text-decoration-color: #242424;
}

header div span nav {
  position: relative;
}

header div span nav ul.dropdown {
  margin: 0;
  padding: 15px;
  width: 100px;
  position: absolute;
  left: 50%;
  top: calc(100% + 4px);
  transform: translateX(-50%) rotateX(-90deg);
  transform-origin: top center;
  transition: all 150ms ease-in;
  opacity: 0.25;
  background-color: #e8e8e8;
  border-radius: 4.8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.234);
}

header div span img:hover ~ nav ul.dropdown,
header div span nav ul.dropdown:hover {
  opacity: 1;
  transform: translateX(-50%) rotateX(0);
  transition-timing-function: ease-out;
}

header div span nav ul.dropdown::after {
  content: "";
  position: absolute;
  left: 50%;
  top: -14px;
  transform: translateX(-50%);
  border: 8px solid transparent;
  border-bottom-color: #e8e8e8;
}

header div span nav ul.dropdown li:not(:last-child) {
  margin-bottom: 10px;
}

header div span img#avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: solid 2px #c3c3c3;
}

main section.banner {
  width: 80%;
  padding: 16px;
  margin: 62px auto;
  justify-content: center;
  align-items: center;
  gap: 24px;
  line-height: 32px;
}

main section.banner div h1 {
  text-transform: uppercase;
  font-weight: 900;
}

button#cadastrar {
  padding: 12px;
  height: 100%;
  font-size: 16px;
  font-weight: 500;
}

footer {
  padding: 12px;
  flex-flow: column;
  align-items: center;
  gap: 16px;
  font-size: 12px;
  background-color: #e8e8e8;
}

footer img#LogoPUC {
  width: 104px;
}

table {
  width: 100%; /*Define a largura da tabela para 100% da largura do contêiner pai.*/
  border-collapse: collapse; /*Remove o espaço entre as bordas das células da tabela, colapsando-as.*/
}

th,
td {
  border: 1px solid #dddddd; /*Adiciona uma borda cinza clara de 1 pixel em torno das células.*/
  text-align: left; /*Alinha o texto à esquerda nas células.*/
  padding: 8px; /*Adiciona um preenchimento interno de 8 pixels nas células.*/
}

th {
  background-color: #f2f2f2; /*Define a cor de fundo das células do cabeçalho para um cinza claro.*/
}

/* Define estilos para linhas pares (nth-child(even)) da tabela.*/
tr:nth-child(even) {
  background-color: #f9f9f9; /*Define a cor de fundo das linhas pares para um cinza muito claro.*/
}

/*Define estilos para as linhas quando o mouse passa sobre elas.*/
tr:hover {
  background-color: #e0e0e0; /*Define uma cor de fundo mais escura ao passar o mouse sobre a linha.*/
}
