@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  color: #242424;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #e8e8e8;
}

body::-webkit-scrollbar-thumb {
  background-color: #7b2d26;
  border-radius: 20px;
  border: 2px solid #e8e8e8;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  transition: opacity 0.2s;
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  opacity: 0.2;
}

button,
form input,
form button {
  border: none;
  outline: none;
}

form label + label {
  margin-top: 16px;
}

form label span {
  display: block;
  font-size: 12px;
  font-weight: 700;
}

form label input {
  width: 100%;
  height: 30px;
  margin-top: 4px;
  padding-inline: 8px;
  border-radius: 4px;
  border: 1px solid #9b9b9b;
}

button,
form button {
  width: auto;
  height: 32px;
  margin-top: 16px;
  margin-left: auto;
  padding-inline: 8px;
  background-color: #031634;
  border-radius: 4px;
  color: #ffffff;
}
a button i.fa-solid {
  color: #ffffff;
  margin-left: 8px;
}

body {
  background-color: #f2f4f3;
}

header,
header > div,
header div nav ul.menu,
main section.banner,
footer {
  display: flex;
}

header {
  padding: 12px;
  gap: 24px;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.234);
}

header img#logo {
  width: 160px;
}

header > div {
  align-items: center;
  gap: 44px;
}

header div span nav ul.dropdown li a:hover {
  opacity: 0.8;
  text-decoration: underline;
  text-decoration-color: #242424;
}

header div span nav {
  position: relative;
}

header div span nav ul.dropdown {
  margin: 0;
  padding: 15px;
  width: 200px;
  position: absolute;
  left: 50%;
  top: calc(100% + 4px);
  transform: translateX(-50%) rotateX(-90deg);
  transform-origin: top center;
  transition: all 150ms ease-in;
  opacity: 0.25;
  background-color: #ffffff;
  border-radius: 4.8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.234);
}

header div span img:hover ~ nav ul.dropdown,
header div span nav ul.dropdown:hover {
  opacity: 1;
  transform: translateX(-50%) rotateX(0);
  transition-timing-function: ease-out;
}

header div span nav ul.dropdown::after {
  content: "";
  position: absolute;
  left: 50%;
  top: -11px;
  transform: translateX(-50%);
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}

header div span nav ul.dropdown li:not(:last-child) {
  margin-bottom: 10px;
}

header div span img#avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: solid 2px #c3c3c3;
}

main section.banner {
  width: 80%;
  padding: 16px;
  margin: 62px auto;
  justify-content: center;
  align-items: center;
  gap: 24px;
  line-height: 32px;
}

main section.banner div h1 {
  text-transform: uppercase;
  font-weight: 900;
}

main section.banner div button#cadastrar {
  padding: 12px;
  height: 100%;
  font-size: 16px;
}

footer {
  padding: 12px;
  flex-flow: column;
  align-items: center;
  gap: 16px;
  font-size: 12px;
  background-color: #e8e8e8;
}

footer img#LogoPUC {
  width: 104px;
}

table {
  width: 100%; /*Define a largura da tabela para 100% da largura do contêiner pai.*/
  border-collapse: collapse; /*Remove o espaço entre as bordas das células da tabela, colapsando-as.*/
}

th,
td {
  border: 1px solid #dddddd; /*Adiciona uma borda cinza clara de 1 pixel em torno das células.*/
  text-align: left; /*Alinha o texto à esquerda nas células.*/
  padding: 8px; /*Adiciona um preenchimento interno de 8 pixels nas células.*/
}

th {
  background-color: #f2f2f2; /*Define a cor de fundo das células do cabeçalho para um cinza claro.*/
}

/* Define estilos para linhas pares (nth-child(even)) da tabela.*/
tr:nth-child(even) {
  background-color: #f9f9f9; /*Define a cor de fundo das linhas pares para um cinza muito claro.*/
}

/*Define estilos para as linhas quando o mouse passa sobre elas.*/
tr:hover {
  background-color: #e0e0e0; /*Define uma cor de fundo mais escura ao passar o mouse sobre a linha.*/
}

.cp-1 {
  height: 430px;
  background-color: #f2f4f3;
}
.cp-2 {
  height: 220px;
  display: grid;
  justify-content: center;
  background-color: #f2f4f3;
}
.cp-2-5 {
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/codigo/imgInicial/back2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.cp-3 {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f4f3;
}
.cp-4 {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f4f3;
  background-image: url(/codigo/imgInicial/back3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* CP2  */
.cp2-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 200px;
  width: 1000px;
  box-shadow: 4px 4px 4px 0px #0000001a;
  border-radius: 0.3rem;
}
/* CP2   imagens */
.cp2-container img {
  width: 70px;
}
/* CP2  divisões */
.cp2c1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: 0.4s;
  border-radius: 0.3rem;
  border-right: 1px solid rgb(202, 202, 202);
}
.cp2c2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: 0.4s;
  border-radius: 0.3rem;
  border-right: 1px solid rgb(202, 202, 202);
}
.cp2c3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: 0.4s;
  border-radius: 0.3rem;
}
/* CP2 divisões hovers */
.cp2c1:hover {
  transform: scale(1.02);
  border: 1px solid rgb(202, 202, 202);
}
.cp2c2:hover {
  transform: scale(1.02);
  border: 1px solid rgb(202, 202, 202);
}
.cp2c3:hover {
  transform: scale(1.02);
  border: 1px solid rgb(202, 202, 202);
}

/* CP25 */
.cp25-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 20px;
  margin-top: 10%;
}
.cp-25-1 {
  height: 400px;
  width: 250px;
  margin: 20px;
  position: relative;
}
.cp25-logo {
  height: 120px;
  width: 120px;
  background-color: #cfe9ec;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -80px;
  right: 60px;
  font-size: 50px;
  z-index: 1;
}
.cp25-conteudo {
  height: 80%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.3rem;
  background-color: white;
  position: relative;
  transition: 0.4s;
}
.cp25-conteudo h1 {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  align-items: center;
  top: 40px;
}
.cp25-conteudo button {
  color: white;
  border: 2px solid #031634;
  border-radius: 0.3rem;
  width: 120px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
}
.cp25-conteudo button:hover {
  opacity: 0.7;
}
.cp25-conteudo:hover {
  transform: scale(1.02);
}

/* CP3 */
.cp3-conteudo {
  display: flex;
}
.cp3-img1 {
  width: 600px;
  height: 500px;
  padding: 20px;
}
.cp3-img2 {
  width: 650px;
  height: 500px;
  padding: 20px;
}
.cp3h1 {
  display: flex;
  justify-content: start;
  width: 70%;
  flex-direction: column;
}
.cp3h1 h1 {
  font-weight: 900;
}
.cp3-button {
  display: flex;
  align-items: flex-end;
  width: 70%;
  flex-direction: column;
}
.btn-cp3 {
  color: white;
  border: 2px solid #031634;
  border-radius: 0.3rem;
  width: 120px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btn-cp3:hover {
  opacity: 0.7;
}

/* CP4 */
.cp4-cards {
  display: flex;
  padding: 10px;
}
.cp4h1 {
  display: flex;
  justify-content: start;
  width: 70%;
}
.cp4h1 h1 {
  font-weight: 900;
}
.card img {
  height: 200px;
  width: 100%;
  border-radius: 0.3rem;
}
.card {
  margin: 10px;
  transition: 0.4s;
  border-radius: 0.3rem;
  border: 1px solid rgb(220, 220, 220);
}
.card-body {
  background-color: #f2f4f3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  height: 250px;
}
.card a {
  font-size: 18px;
  color: #242424;
  font-weight: bold;
  text-decoration: none;
}
/* CP4 divisões hovers */
.card:hover {
  transform: scale(1.02);
}

/* Responsividade */
@media (min-width: 930px) and (max-width: 1270px) {
  .cp2-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
    width: 700px;
  }

  .cp-2-5 {
    height: auto;
  }
  .cp25-container {
    flex-wrap: wrap;
  }

  .cp3-img {
    align-items: center;
    display: flex;
  }
  .cp3-img1 {
    width: auto;
    height: 350px;
    padding: 20px;
  }
  .cp3-img2 {
    width: 400px;
    height: 400px;
    padding: 20px;
  }

  .cp-4 {
    height: auto;
  }
  .cp4-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 930px) {
  .cp2-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
    width: 600px;
  }

  .cp-2-5 {
    height: auto;
  }
  .cp25-container {
    flex-wrap: wrap;
  }

  .cp-3 {
    height: auto;
  }
  .cp3-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cp3-img1 {
    width: 90%;
    height: 400px;
    padding: 20px;
  }
  .cp3-img2 {
    width: 90%;
    height: 400px;
    padding: 20px;
  }

  .cp-4 {
    height: auto;
  }
  .cp4-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 700px) {
  .menu i {
    color: #b1b1b1;
    transition: 0.4s;
    display: block;
  }

  #bannerImg {
    height: 300px;
    width: 300px;
  }
  .cp2-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 150px;
    width: 450px;
  }
  .cp-4 {
    padding: 20px;
  }
}
@media (max-width: 570px) {
  #bannerImg {
    height: 250px;
    width: 250px;
  }
}
