main section#registration {
  padding: 60px 20px;
}

main section#registration .container {
  width: 100%;
  max-width: 900px;
  margin-inline: auto;
  padding: 36px 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 4px 4px 4px 0px #0000001a;
  border-left: 16px solid #033649;
  border-radius: 16px;
}

main section#registration .container > img {
  margin-top: 30px;
}

main section#registration .content {
  width: 100%;
  max-width: 300px;
}

main section#registration .content h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

main section#registration .content h1 + p {
  margin-top: 12px;
  text-align: center;
  font-size: 16px;
}

main section#registration .content form {
  display: flex;
  flex-direction: column;
}
